/*
 * Extra css for Open Africa theming.
 * Author: David Lemayian
 * Email: david@openinstitute.com
 *
 */

/* Base Elements - Body, Header, Footer */


/* Header */



/* Footer */

.footer-logo img {
	height: 70px;
	background-color: #fff;
	border-radius: 5px;
	margin-right: 5px;
	vertical-align: bottom;
}
	.footer-logo img:hover {
		opacity: 0.8;
	}
.ckan-footer-logo {
	display: inline-block !important;
}


/* End - Base Elements */


/* Home Page */
.partner-logos {
	text-align: center;
}
	.partner-logos img {
		padding: 5px;
		border-radius: 5px;
		-webkit-transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		-ms-transition: all 0.2s ease-in-out;
		transition: all 0.2s ease-in-out;
	}
		.partner-logos img:hover {
			opacity: 0.7;
		}
	.home.partner-logos img {
		margin: 0 30px;
	}
	.about.partner-logos img {
		margin: 0 5px;
	}






