{% set intro = g.site_intro_text %}

<div class="module-content box">
  <header>
    {% if intro %}
      {{ h.render_markdown(intro) }}
    {% else %}
      <h1 class="page-heading">{{ _("Welcome to CKAN") }}</h1>
      <p>
        {% trans %}This is a nice introductory paragraph about CKAN or the site
        in general. We don't have any copy to go here yet but soon we will
        {% endtrans %}
      </p>
    {% endif %}
  </header>

  {% block home_image %}
    <section class="featured media-overlay hidden-phone">
      <div id="homeSlider" class="carousel slide">
        <div class="carousel-inner">
          <div class="item active">
            <a class="image" href="http://opportunities.codeforafrica.org/senior-software-developer-python-in-nairobi-kenya/" target="_blank" >
              <img src="/images/home-slider/code.png" alt="Come Work With Us! We are looking for a Senior Software Developer (Python) in Nairobi, Kenya. Learn More">
              <div class="carousel-caption">
                <h2 class="media-heading">{{ _("Come Work With Us! We are looking for a Senior Software Developer (Python) in Nairobi, Kenya. Learn More") }}</h2>
              </div>
            </a>
          </div>
          <div class="item">
            <a class="image" href="https://www.facebook.com/HacksHackersAfrica" target="_blank" >
              <img src="/images/home-slider/hhafrica.png" alt="Hacks Hackers Africa - Facebook">
              <div class="carousel-caption">
                <h2 class="media-heading">{{ _("Hacks Hackers Africa") }}</h2>
              </div>
            </a>
          </div>
        </div>
        <a class="left carousel-control" href="#homeSlider" data-slide="prev">‹</a>
        <a class="right carousel-control" href="#homeSlider" data-slide="next">›</a>
      </div>
    </section>
    <script type="text/javascript">
      window.onload = function () {
        $('#homeSlider').carousel();
      }
    </script>
  {% endblock %}
</div>
